@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.input {
  @apply bg-slate-700 placeholder-slate-400 p-2.5 rounded-md
  text-sm text-white border-2 border-slate-700
  focus:border-2 focus:border-blue-300 focus:outline-none focus:outline-transparent;
}

.btn {
  @apply p-3 bg-orange-400
hover:bg-orange-700 w-fit justify-self-start rounded-full;
}

.a4-page {
  width: 210mm;
  height: 297mm;
}

.modal {
  position: fixed;
  overflow-y:scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal:target {
  pointer-events: all;
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}